<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>This is a protected route.</strong>
    <p>Only authenticated users should be able to view this route.</p>
    <p *ngIf="this.currentUser" class="ion-margin ion-padding">
      Current User: {{ this.currentUser.getUsername() }}
    </p>
    <ion-button color="danger" (click)="this.logOut()">Log Out</ion-button>
  </div>
</ion-content>
